// Utils
@import 'utils/variables';
@import 'utils/mixins';

// Base
@import 'base/reset';
@import 'base/typography';

// Components
@import 'components/buttons';
@import 'components/cards';

// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/home';
@import 'pages/restaurant';