@use "../utils/variables" as *;

.footer {
  background: #353535;
  color: $text-light;
  padding: 24px 0;
  margin-top: 0px;
}

.footer__logo {
  font-family: $font-logo;
  font-size: 20px;
  margin-bottom: 12px;
  color: #fff;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;              // ← AJOUT IMPORTANT
  flex-direction: column;     // ← AJOUT IMPORTANT
}

.footer__list li + li { 
  margin-top: 10px; 
}

.footer__list a { 
  display: inline-flex; 
  gap: 10px; 
  align-items: center;
  color: $text-light;
  text-decoration: none;
}

/* RESPONSIVE DESKTOP */
@media (min-width: $bp-desktop) {
  .footer {
    padding: 80px 20px 30px;
  }

  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;    // ← Changé à flex-start pour aligner à droite
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .footer__logo {
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 30px;
  }

  .footer__list {
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .footer__list li:nth-child(3) {
    margin-left: 30px;            
  }

  .footer__list li {
    margin: 0;
  }

  .footer__list li + li {
    margin-top: 0;
  }

  .footer__list a {
    white-space: nowrap;
  }
}