@use "../utils/variables" as *;

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }

body {
  font-family: $font-text;
  color: $text-dark;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a { color: inherit; text-decoration: none; }
ul, ol { list-style: none; }
img { max-width: 100%; height: auto; display: block; }
button { border: 0; background: none; cursor: pointer; font: inherit; }

/* test visuel minimum si besoin
.header__logo { text-align:center; padding:16px 0; }
*/
