// Colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$bg-light: #F6F6F6;
$bg-dark: #353535;

// Fonts
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

// Breakpoints (Mobile First)
$tablet: 768px;
$desktop: 1024px;